@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);

*,
.text,
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --body-color: #FCFCFC;
    --sidebar-color: #FFFFFF;
    --primary-color: #1f9f21;
    --primary-color-light: #FFF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --light-text-color: #c0bebe;
    --light-grey-color: #f5f5f5;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease
}

body {
    background: var(--body-color);
    padding-left: 88px
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --label-color: #5d5e5f;
    --light-grey-color: #5d5e5f
}

.sidebar li a,
body, .sidebar .menu-bar,
.sidebar .text,
.sidebar header .sidebar-top .text {
    transition: var(--tran-04)
}

.menu-bar .mode,
.menu-bar .mode .toggle-switch {
    background: var(--primary-color-light);
    border-radius: 6px
}

.menu-bar .mode,
.sidebar .menu-bar,
.sidebar header, .toggle-switch .switch {
    position: relative
}

.sidebar.close header .toggle,
.switch::before {
    transform: translateY(-50%)
}

.sidebar {
    transition: var(--tran-05);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    z-index: 104;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1)
}

.sidebar.close {
    width: 88px
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1
}

.sidebar.close .text {
    display: none
}

.sidebar .image, .sidebar li, .sidebar li .icon, .sidebar li a,
.menu-bar .mode .moon-sun, .menu-bar .mode .toggle-switch,
.page-item:first-child .page-link,
.page-item:last-child .page-link, .active>.page-link {
    display: flex;
    align-items: center
}

.sidebar li {
    height: 50px;
    margin-top: 25px;
    list-style: none;
}

.sidebar li .icon {
    justify-content: center;
    min-width: 60px;
    font-size: 25px
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02)
}

.menu-bar .mode i,
.nutrientes-card:hover,
.switch::before {
    transition: var(--tran-03)
}

.sidebar .sidebar-top img {
    width: 45px;
    border-radius: 6px;
    cursor: pointer
}

.sidebar header .sidebar-top {
    display: flex;
    margin: 3px 0 0 7px
}

.title-container,
header .sidebar-top .header-text {
    display: flex;
    flex-direction: column
}

.header-text .name {
    font-weight: 600
}

.header-text .access {
    margin-top: -2px
}

.sidebar li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 6px
}

.sidebar li a:hover {
    background: var(--primary-color)
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color)
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
}

.menu-bar .mode i {
    position: absolute
}

.animate-letter,
.menu-bar .mode i.sun,
.path-acento,
body.dark .menu-bar .mode i.moon {
    opacity: 0
}

body.dark .menu-bar .mode i.sun {
    opacity: 1
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer
}

.toggle-switch .switch {
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color)
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    background: var(--sidebar-color)
}

.content-box,
.content-box .container-fluid,
body,
html,
main {
    height: 100%
}

body.dark .switch::before {
    left: 24px
}

.mode-text {
    user-select: none
}

.content-box>.container-fluid {
    background: var(--sidebar-color);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0
}

.content-box {
    padding: .8rem
}

.content-box .container-fluid .box-header {
    padding-bottom: 1.5rem
}

.content-box header.box-header h2 {
    margin-top: -4px
}

ul.pagination {
    display: flex;
    justify-content: center !important
}

.body-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center
}

.title-painel {
    font-size: 1.2rem
}

.subtitle-painel {
    margin-top: -8px;
    font-size: 1.5rem;
    font-weight: 600
}

main {
    padding: 7px !important
}

::-webkit-scrollbar {
    width: 10px;
    background: #555
}

.page-link {
    border-radius: 40% !important;
    width: 36px !important;
    margin: 10px;
    color: #63686d
}

.page-link.active {
    color: var(--bs-pagination-active-color)
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    color: var(--bs-pagination-active-color);
    border: 0;
    justify-content: center
}

.active>.page-link {
    border: 0;
    background: #f0f0f0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .6);
    justify-content: center;
    color: #18191a
}


/* SVG */

svg {
    width: 150px;
    margin-left: 10px;
    margin-top: 5px;
    fill: #0ed145
}

@keyframes slide-in {
    from {
        transform: translateX(-30px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
        opacity: 0
    }

    90% {
        transform: translateY(-25px)
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.sidebar:hover .path-acento {
    opacity: 0;
    animation: .8s ease-in-out .4s forwards move-up-down
}

.sidebar:hover .animate-letter {
    animation: .5s forwards slide-in
}

.sidebar.close:hover .animate-letter {
    animation: 0 reverse slide-in
}

.sidebar.close:hover .path-acento {
    opacity: 0;
    animation: .8s ease-in-out .4s reverse move-up-down
}

svg ellipse {
    fill: #9a0b0b
}

body.dark svg,
body.dark svg ellipse {
    fill: var(--text-color)
}

.card-body form input {
    max-width: 80%;
    display: flex;
    align-items: center
}


.header-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem
}

.tools-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto
}

@media (max-width: 768px) {
    body {
        padding-left: 0;
        padding-top: 75px
    }

    .sidebar,
    .sidebar.close {
        width: 100%;
        height: 75px
    }

    body,
    html {
        height: 100%
    }

    .sidebar header .toggle,
    .sidebar.close .menu-bar,
    .sidebar.close header.sidebar-top .text {
        visibility: hidden;
        opacity: 0
    }

    .sidebar {
        transition: var(--tran-03);
        height: 500px
    }

    .sidebar .menu-bar,
    .sidebar .text,
    .sidebar header .sidebar-top .text {
        visibility: visible;
        opacity: 1
    }

    .sidebar header,
    .sidebar li {
        margin-top: 5px;
        width: 100%
    }

    .sidebar header {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .sidebar .bottom-content {
        padding-bottom: 10px
    }

    .sidebar header svg {
        width: 110px !important;
        margin-left: 0;
        margin-bottom: 5px
    }

    .sidebar .animate-letter,
    .sidebar .path-acento {
        animation: none !important;
        opacity: 1 !important
    }
}