/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ======== Cores ======== */
    --body-color: #FCFCFC;
    --sidebar-color: #FFFFFF;
    --primary-color: #1f9f21;
    --primary-color-light: #FFF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --light-text-color: #c0bebe;
    --light-grey-color: #f5f5f5;

    /* ======== Transições ======== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    padding-left: 100px;
    background: var(--body-color);
    transition: var(--tran-04);
}

/* ======== Sidebar ======== */
.sidebar {
    transition: var(--tran-05);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    z-index: 104;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.sidebar.close {
    width: 88px;
}

/* ======== CSS Reutilizável ======== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    display: none;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --label-color: #5d5e5f;
    --light-grey-color: #5d5e5f;
}

.sidebar li {
    height: 50px;
    margin-top: 25px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 25px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 45px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    margin: 3px 0 0 7px;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .access {
    margin-top: -2px;
}


.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    position: relative;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    background: var(--primary-color-light);
    border-radius: 6px;
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background: var(--primary-color-light);
    border-radius: 6px;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

.mode-text {
    user-select: none;
}

/* ======== Mobile ======== */

@media (max-width: 768px) {
    body {
        padding-left: 0;
        padding-top: 75px;
    }

    .sidebar.close,
    .sidebar {
        width: 100%;
        height: 75px;
    }

    html,
    body {
        height: 100%;
    }
    
    .sidebar.close header.image-text .text,
    .sidebar.close .menu-bar,
    .sidebar header .toggle {
        visibility: hidden;
        opacity: 0;
    }

    .sidebar {
        transition: var(--tran-03);
        height: 500px;
    } 

    .sidebar header .image-text .text,
    .sidebar .menu-bar,
    .sidebar .text {
        transition: var(--tran-04);
        visibility: visible;
        opacity: 1;
    }

    .sidebar li,
    .sidebar header {
        margin-top: 5px;
    }

    .sidebar .bottom-content {
        padding-bottom: 10px;
    }
}

/* ======== Organização de Conteúdo ======== */

.content-box > .container-fluid {
    background: var(--sidebar-color);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content-box {
    padding: .8rem;
}

.content-box .container-fluid .box-header {
    padding-bottom: 1.5rem;
}

.content-box header.box-header h2 {
    margin-top: -4px;
}

/* ======== Tabela ======== */

.dataTables_length {
    margin-bottom: 1rem;
}

.bottom-tools,
table.dataTable {
    margin-top: .75rem !important;
}

ul.pagination,
.dataTables_info {
    display: flex;
    justify-content: center !important;
}

.dataTables_filter label > input,
.dataTables_filter label {
    width: 100% !important;
    margin-left: 0 !important;
}

.page-link.active, .active > .page-link {
    z-index: 3;
    color: var(#ccc);
    background-color: var(--primary-color);
    border-color: var(--primary-color)
}

.page-link {
    color: var(--text-color);
}

* {
    color: var(--text-color);
}

/* ======== CSS Reutilizável ======== */

body,
html,
.content-box,
.content-box .container-fluid {
    min-height: 100%;
}

.body-header {
    display: flex;
    flex-direction: column;
}

.text {
    color: var(--text-color);
}

/* Página de visuzalização dos Nutrientes */

.nutrientes-card {
    max-width: 225px;
    width: 100%;
    height: 83px;
    background-color: var(--primary-color-light);
    border-radius: 18px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 10px !important;
    margin: 0.75rem;
    transition: var(--tran-02);
    cursor: pointer;
    overflow: hidden;
}

.nutrientes-card .card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nutrientes-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.nutrientes-card .card-body p {
    margin-bottom: 0 !important;
}

.tag-label {
    max-width: max-content;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--light-grey-color);
    padding: 5px;
    border-radius: 10px;
    white-space: nowrap;
    transition: var(--tran-04);

}

.unidade-text {
    color: var(--light-text-color);
    font-size: 14px;
    transition: var(--tran-02);
}

.nome-text {
    max-width: 100%;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nutrientes-card:hover {
    transition: var(--tran-03);
    background-color: var(--light-grey-color);
}

.nutrientes-card:hover .unidade-text {
    color: var(--text-color);
}

.nutrientes-card:hover .tag-label {
    pointer-events: none;
    visibility: hidden;
    transition: var(--tran-02);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 0;
}

.card-animation {
    animation-name: slideIn; 
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

@keyframes slideIn {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}